body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

ul {
  padding: 0;
}


a:hover,
a:focus {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 34px;
  font-weight: 500;
  color: #2f2f2f;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  color: #2f2f2f;
  text-align: center;
}

div,
img {
  display: block;
}

/*  */
/* Dostavka_Edy */

header {
  height: 170px;
}

.order-food-online {
  padding: 9.4em 0;
  text-align: center;
  background-image: url('../img/bg-w-food-delivery.jpg');
  background-size: cover;
  max-height: 600px;
}

.bg-texture {
  background-image: url(../img/bg-texture.jpg);
  background-position: center top;
}

.tabs-link li {
  display: inline-block;
}

.tabs-link {
  margin: 4.2em 0 8.5em;
  text-align: center;
  padding: 0;
}

.nav-link.active,
.link-green,
.tab-btn.active {
  color: #6bcd5b;
  border: 2px solid #6bcd5b;
}

.tab-btn {
  border: 2px solid #2f2f2f;
  color: #2f2f2f;
}

.nav-link {
  display: block;
  background-color: transparent;
  width: 224px;
  border: 2px solid #2f2f2f;
  padding: 0.5em;
  font-size: 18px;
  margin: 0 15px;
  color: #2f2f2f;
  font-weight: 500;
}

.group-food ul {
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 60px;
  height: 54px;
  display: block;
  background-image: url(../img/ico-png/sushi.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 30px;
}

.title-food {
  font-size: 18px;
  font-weight: 600;
  color: #2f2f2f;
  text-align: center;
}

.dropdown-link:after {
  background-position: -690px -511px;
  width: 13px;
  height: 13px;
  top: 50%;
  margin-top: -6px;
  right: 4px;
  z-index: 1;
}

.wrap-filter {
  border: 2px solid #eeeeee;
  padding: 30px;
  background-color: #fff;
  margin: 10px 0;
}

.filter-active-item {
  float: left;
  margin-right: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

.ico-refresh {
  position: absolute;
  right: 0;
  margin: 10px;
  top: 0;
  cursor: pointer;
}

.filter-group {
  position: relative;
  width: 100%;
  border: 1px solid #eeeeee;
  padding: 20px;
  background-color: #fff;
}

.title-filter-g {
  font-size: 18px;
  margin-bottom: 30px;
}

.filter-group label {
  display: inline-flex;
  align-items: baseline;
}

.filter-group label input[type="checkbox"],
.filter-group label input[type="radio"] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: inherit;
  margin: 0 15px 0 0;
  top: 4px;
  color: inherit;
  outline: none;
  font-family: "Font Awesome 5 Pro";
  transition: 300ms ease-out;
}

.filter-group label input[type="checkbox"]::after,
.filter-group label input[type="radio"]::after {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  border: 2px solid #dcdcdc;
}

.filter-group label input[type="checkbox"]:checked::after,
.filter-group label input[type="radio"]:checked::after {
  font-weight: 900;
}

.filter-group label input[type="checkbox"]:active,
.filter-group label input[type="radio"]:active {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.filter-group label input[type="checkbox"]+span,
.filter-group label input[type="radio"]+span {
  margin-left: 0.35em;
}

.filter-group label input[type="checkbox"]:checked::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #6bcd5b;
  margin: 7px;
  position: absolute;
}

.filter-radio-active {
  display: table-cell;
  height: 25px;
  vertical-align: middle;
  color: #4d4b4b;
  word-break: break-word;
  cursor: pointer;
}

.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(/img/sprite.svg);
  background-color: #6bcd5b;
}

.filter-delete {
  background-position: 0 0;
}

.clear-filter.btn {
  font-size: 18px;
  border: 2px solid;
  float: right;
  padding: 10px 20px;
}

.rest-tags {
  position: absolute;
  right: 20px;
}

.logo-rest {
  float: left;
  width: 145px;
  height: 145px;
  margin-right: 20px;
  position: relative;
  border: 2px solid #dcdcdc;
  background-color: #fff;
}

.logo-rest img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.sticker-new {
  background-image: url(/img/ico-png/sticker-new.png);
  width: 60px;
  height: 60px;
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 3;
}

.logo-rest::after {
  box-shadow: 0 0 10px;
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  margin-left: 5%;
  z-index: 1;
}

.wrap-icons {
  display: block;
  margin-top: 20px;
  font-size: 13px;
  color: #737373;
}

[class$="-ico"]::before {
  display: block;
  float: left;
  width: 22px;
  height: 14px;
}

.comment-ico::before {
  content: url(/img/svg/comment.svg);
}

.views-ico::before {
  content: url(/img/svg/view.svg);
}

.item-res-food {
  padding: 20px;
  border: 2px solid #dcdcdc;
  margin-bottom: 30px;
  background-color: #fff;
  height: 255px;
  position: relative;
}

.item-res-food.ad-border {
  border: 3px solid #d99122;
}

.title-restaurant {
  float: left;
}

.wrap-info-rest {
  padding: 8px 0 0 10px;
  width: 100%;
  border-top: 2px solid #dcdcdc;
  position: absolute;
  bottom: 0;
  left: 0;
}

.box-info {
  display: flex;
}

.box-info span {
  margin-right: 10px;
  padding: 8px 0 0 0;
}

.like-rest {
  width: 125px;
  position: relative;
  float: left;
  margin-right: 40px;
  padding: 5px;
}


.wrap-like-btn {
  float: left;
  color: #6bcd5b;
}

.wrap-like-btn,
.wrap-dislike-btn {
  text-align: center;
  font-size: 10px;
  position: relative;
  z-index: 3;
}

.wrap-dislike-btn {
  float: right;
  color: #f34134;
}

.like-btn,
.dislike-btn {
  background-image: url(/img/svg/like.svg);
  background-position: 6px 5px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #6bcd5b;
  width: 22px;
  height: 22px;
  border: 0;
}

.dislike-btn {
  background-image: url(/img/svg/dislike.svg);
  background-position: 6px 6px;
  background-color: #f34134;
}

.line-result {
  background-color: #6bcd5b;
  height: 2px;
  position: relative;
  top: 10px;
  z-index: 2;
}

.line-def {
  height: 2px;
  background-color: #f34134;
  position: relative;
  top: 8px;
  z-index: 1;
}

footer {
  background-color: #2f2f2f;
}

.footer p {
  color: #eeeeee;
}

/* ---- */

/* Restaurants Section */

.title-res {
  margin: 106px 0 65px 0;
}



/* Restaurants Items */

.rest-link {
  display: block;
}

.rest-photo {
  height: 360px;
}

.rest-photo img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.rest-description {
  position: relative;
  height: 142px;
  background-image: url(../img/bg_elems.png);
  background-color: #fff;
  margin-bottom: 52px;
  box-shadow: 0 5px 8px -5px gray;
}

.rest-description-inner {
  position: absolute;
  margin: 0 auto;
  width: 96%;
  top: 18px;
  left: 23px;
}

.rest-logo,
.rest-title,
.rest-about {
  display: block;
}

.rest-logo {
  float: left;
  width: 158px;
  height: 106px;
  border: 2px solid #eeeeee;
}

.desc-title-block {
  position: relative;
  margin: 19px 0 0 206px;
  /* width: 897px; */
}

.desc-title-block p {
  display: inline;
}

.rest-title {
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 1.25;
  color: #2f2f2f;
}

.rest-about, .desc-title-block a {
  font-size: 18px;
  line-height: 1.67;
  color: #737373;
}

.desc-title-block a {
  color: #6bcd5b;
}

.rest-about-details {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 51%;
}

.details-icons {
  display: flex;
  justify-content: space-between;
  width: 270px;
  font-size: 18px;
  color: #737373;
}

.details-icons-comments, 
.details-icons-views,
.details-icons-likes {
  position: relative;
}

.details-icons-comments {
  padding-left: 32px;
}

.details-icons-comments::before {
  content: url(../img/svg/comments.svg);
  position: absolute;
  width: 50px;
  left: 0;
  top: 3px;
}

.details-icons-views::before {
  content: url(../img/svg/view.svg);
  position: absolute;
  width: 26px;
  left: -34px;
}

.details-icons-likes::before {
  content: url(../img/svg/heart.svg);
  position: absolute;
  width: 18px;
  top: 2px;
  left: -28px;
}

.rest-logo-small {
  width: 113px;
  height: 84px;
  border: 2px solid #eeeeee;
}

.rest-description-small {
  position: relative;
  height: 160px;
  background-image: url(../img/bg_elems.png);
  background-color: #fff;
  margin-bottom: 50px;
  box-shadow: 0 5px 8px -5px gray;
}

.rest-description-inner-small {
  position: absolute;
  margin: 0 auto;
  width: 90%;
  top: 21px;
  left: 14px;
}

.order-delivery-btn {
  display: block;
  padding: 12px 58px;
  margin: 53px auto 0 auto;
  width: 330px;
  font-size: 24px;
  color: #fff;
  background-color: #6bcd5b;

}

/* Delivery food block */

.delivery {
  margin-top: 140px;
  background-image: url(../img/bg-texture-light.jpg);
}

.delivery-block h2 {
  margin-top: 90px;
}

.delivery-block .nav-link {
  width: 150px;
}


.item-image img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.delivery-item-desc {
  position: relative;
  height: 159px;
  background-color: #fff;
  background-image: url(../img/bg_elems.png);
  margin-bottom: 30px;
  box-shadow: 0 5px 8px -5px gray;
}

.item-desc-inner {
  position: absolute;
  top: 18px;
  left: 15px;
  width: 89%;
}

.desc-inner-wrap {
  display: flex;
  justify-content: space-between;
}

.star-ratings {
  display: block;
  position: relative;
  width: 100px;
  height: 20px;
}

.empty-ratings {
  display: block;
  background-image: url(../img/svg/empty-ratings.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.fill-ratings {
  display: block;
  position: absolute;
  background-image: url(../img/svg/fill-ratings.svg);
  background-size: cover;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
}

.id-number {
  font-size: 14px;
  text-transform: uppercase;
  color: #737373;
}

.item-desc-title {
  margin-top: 23px;
  font-size: 18px;
  color: #2f2f2f;
  line-height: 1;
}

.item-icons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  font-size: 13px;
  line-height: 1;
  color: #737373;
}

.weight-icon {
  position: relative;
  padding-left: 25px;
}

.weight-icon::before {
  content: url(../img/svg/food.svg);
  position: absolute;
  width: 20px;
  top: -4.5px;
  left: 0;
}

.views-icon,
.like-icon {
  position: relative;
}

.views-icon::before {
  content: url(../img/svg/view.svg);
  position: absolute;
  width: 20px;
  top: -4.5px;
  left: -25px;
}

.like-icon::before {
  content: url(../img/svg/heart.svg);
  position: absolute;
  width: 13px;
  top: -1px;
  left: -20px;
}

.item-price {
  margin-top: 17px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.current-price {
  color: #6bcd5b;
}

.old-price {
  padding-left: 7px;
  color: #2f2f2f;
  text-decoration: line-through;
  text-decoration-color: #6bcd5b;
}

.order-item-btn {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 97px;
  padding: 8px 0;
  background-color: #6bcd5b;
  text-align: center;
  font-size: 18px;
  color: #fff;
}