body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

ul {
  padding: 0;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 34px;
  font-weight: 500;
  color: #2f2f2f;
}

div,
img {
  display: block;
}

/*  */
/* Dostavka_Edy */

header {
  height: 170px;
}

.order-food-online {
  padding: 9.4em 0;
  text-align: center;
  background-image: url('../img/bg-w-food-delivery.jpg');
  background-size: cover;
  max-height: 600px;
}

.bg-texture {
  background-image: url(../img/bg-texture.jpg);
  background-position: center top;
}

.tabs-link li {
  display: inline-block;
}

.tabs-link {
  margin: 4.2em 0 8.5em;
  text-align: center;
  padding: 0;
}

.nav-link.active,
.link-green,
.tab-btn.active {
  color: #6bcd5b;
  border: 2px solid #6bcd5b;
}

.tab-btn {
  border: 2px solid #2f2f2f;
  color: #2f2f2f;
}

.nav-link {
  display: block;
  background-color: transparent;
  width: 224px;
  border: 2px solid #2f2f2f;
  padding: 0.5em;
  font-size: 18px;
  margin: 0 15px;
  color: #2f2f2f;
  font-weight: 500;
}

.group-food ul {
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 60px;
  height: 54px;
  display: block;
  background-image: url(../img/ico-png/sushi.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 30px;
}

.title-food {
  font-size: 18px;
  font-weight: 600;
  color: #2f2f2f;
  text-align: center;
}

.dropdown-link:after {
  background-position: -690px -511px;
  width: 13px;
  height: 13px;
  top: 50%;
  margin-top: -6px;
  right: 4px;
  z-index: 1;
}

.wrap-filter {
  border: 2px solid #eeeeee;
  padding: 30px;
  background-color: #fff;
  margin: 10px 0;
}

.filter-active-item {
  float: left;
  margin-right: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

.ico-refresh {
  position: absolute;
  right: 0;
  margin: 10px;
  top: 0;
  cursor: pointer;
}

.filter-group {
  position: relative;
  width: 100%;
  border: 1px solid #eeeeee;
  padding: 20px;
  background-color: #fff;
}

.title-filter-g {
  font-size: 18px;
  margin-bottom: 30px;
}

.filter-group label {
  display: inline-flex;
  align-items: baseline;
}

.filter-group label input[type="checkbox"],
.filter-group label input[type="radio"] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: inherit;
  margin: 0 15px 0 0;
  top: 4px;
  color: inherit;
  outline: none;
  font-family: "Font Awesome 5 Pro";
  transition: 300ms ease-out;
}

.filter-group label input[type="checkbox"]::after,
.filter-group label input[type="radio"]::after {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  border: 2px solid #dcdcdc;
}

.filter-group label input[type="checkbox"]:checked::after,
.filter-group label input[type="radio"]:checked::after {
  font-weight: 900;
}

.filter-group label input[type="checkbox"]:active,
.filter-group label input[type="radio"]:active {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.filter-group label input[type="checkbox"]+span,
.filter-group label input[type="radio"]+span {
  margin-left: 0.35em;
}

.filter-group label input[type="checkbox"]:checked::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #6bcd5b;
  margin: 7px;
  position: absolute;
}

.filter-radio-active {
  display: table-cell;
  height: 25px;
  vertical-align: middle;
  color: #4d4b4b;
  word-break: break-word;
  cursor: pointer;
}

.clear-filter.btn {
  font-size: 18px;
  border: 2px solid;
  float: right;
  padding: 10px 20px;
}

.item-res-food {
  padding: 20px;
  border: 2px solid #dcdcdc;
  margin-bottom: 30px;
  background-color: #fff;

}

footer {
  background-color: #2f2f2f;
}

.footer p {
  color: #eeeeee;
}

/* ---- */

/* Restaurants Section */

.title-res {
  font-size: 34px;
  font-weight: 500;
  color: #2f2f2f;
  text-align: center;
  margin: 106px 0 65px 0;
}

.restaurants .tabs-link {
  margin: 4.2em 0 4.6em;
}

/* Restaurants Items */

.rest-group {
  /*text-align: center;*/
}

.rest-group img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.rest-poto {
  height: 340px;
  overflow: hidden;
}